@use '../mixins' as *;
@use '../variables' as *;

// Define a variable for the font path (optional but useful)
$font-path: '/assets/fonts/';

// Define the font using @font-face
@font-face {
    font-family: 'ScoreFont';
    src: url('#{$font-path}/Audiowide-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.ribbons {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;

    span {
        width: 100%;
        height: 0;
        background: $ribbons-color;
    }
}

// Apply ribbon animation for all spans
.ribbons-roll-in {
    z-index: 8;
    span {
        height: 0;
        @include ribbon-animation-reversed();
    }
}

.ribbons-roll-out {
    z-index: 8;
    span {
        height: 100%;
        @include ribbon-animation();
    }
}


#game {
    position: fixed;
    z-index: -1;
    visibility: hidden;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    &.show {
        visibility: visible;
        z-index: 7;
    }
}


