@use '../variables' as *;
@use '../mixins' as *;

.intro {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    color: $base-text-color;

    &__wrapper {
        position: absolute;
        padding: nth($intro-padding, 2) nth($intro-padding, 1);
        top: 0;
        left: 0;
        z-index: 5;

        &__title {
            margin-top: calc($intro-text-margin * 2);
            font-size: $intro-title-font-size;
            letter-spacing: $intro-title-letter-spacing;
        }

        &__intro-text {
            font-size: $intro-text-font-size;
            line-height: $intro-text-line-height;
            margin: $intro-text-margin 0;
            max-width: 820px;
        }

        &__button {
            //padding: nth($play-button-size, 2) nth($play-button-size, 1);
            color: $play-button-text-color;
            background-color: $play-button-background-color;
            letter-spacing: $play-button-letter-spacing;
            cursor: pointer;
        }
    }

    .icons-wrapper {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        height: 100vh;
    }

    .icons {
        position: relative;
        width: calc(100vw + 200px);
        height: calc(100vh + 20px);
        overflow: hidden;

        .cloud {
            position: absolute;
            bottom: 0;

            &#cloud-1 {
                right: 0;
                @include shake-cloud(10s, 10px); // Shaking cloud with more intensity
            }

            &#cloud-2 {
                right: 0;
                @include shake-cloud(8s, 20px); // Shaking cloud with more intensity
            }

            &#cloud-3 {
                left: 0;
                @include shake-cloud(4s, 15px); // Shaking cloud with more intensity
            }

            &#cloud-4 {
                left: 0;
                @include shake-cloud(6s, 6px); // Shaking cloud with more intensity
            }
        }
    }

    #sun-icon {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }

    #rocket-icon {
        position: absolute;
        bottom: 10%;
        right: 5%;
        width: 350px;

        @include rocket-animation(10s);

        #rocket-flame {
            path {
            }
        }
    }

    #star-icon {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}


@media (max-width: $phone-breakpoint) {
    .intro {
        &__wrapper {
            padding: calc(nth($intro-padding, 2) / 2) calc(nth($intro-padding, 1) / 2);
        }

        #sun-icon {
            width: 200% !important;
        }

        #rocket-icon {
            width: 300px;
        }
    }
}

@media (max-width: 1200px) {
    #rocket-icon {
        translate: 20% 0;
    }
}

@media (max-width: 800px) {
    #rocket-icon {
        translate: 20% 10%;
    }
}


